<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets
        output="css/compiled/main.css" filter="cssrewrite"
        '@bootstrap_css'
        'css/mdb.css'
        'css/app.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}
    <div class="container #eceff1 blue-grey lighten-5">
        {% block category %}
        {% endblock %}
    </div>
    {% block list_category %}
    {% endblock %}
{% endblock %}
{% block javascripts %}
    {% javascripts output='js/compiled/app.js'
    '@jquery'
    '@bootstrap_js'
    'js/mdb.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>
