/* Settings Base */

.title-category {
    text-align: center;
    font-weight: bold;
}
/* Settings Title Category from HomePage */
.title-category-1 {
    color: #880e4f;
}

.title-category-2 {
    color: #80cbc4;
}

.title-category-3 {
    color: #ffb74d;
}

.title-category-4 {
    color: #ec407a;
}

.title-category-5 {
    color: #40c4ff;
}

.title-category-6 {
    color: #b388ff;
}

.title-category-7 {
    color: #ef9a9a;
}

.title-category-8 {
    color: #2e7d32;
}

.title-category-9 {
    color: #90a4ae;
}

.title-category-9 {
    color: #a1887f;
}