{% extends "::base.html.twig" %}

{% block title %}QuizBundle:Quizz:add{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-sm-12 col-lg-6">
            <div class="row">
                <div class="description-addQuiz">
                    <p>Si tu veux ajouter ton propre quiz et le partager avec le reste de la communauté, alors tu es aux bon endroit ;).</p>
                    <p>Quiz Poussin te propose un système en 2 étapes.
                        La 1ère étape, celle où tu te trouves actuellement, te propose d'ajouter un thème,
                        c'est-à-dire le sujet de ton futur quiz.
                    </p>
                    <p>
                        La seconde étape te permettra d'ajouter jusqu'à 20 questions, chacune comprenant une série de 3 réponses.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-12">
            <div class="row">
                <h1>Ajoute un nouveau quiz</h1>
            </div>
            <div class="row row-quiz">
                {{ form_start(form, { 'attr': {'class': 'col-lg-8 col-sm-12'} }) }}
                {% form_theme form 'form/fields.html.twig' %}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
